<div class="gantt-wrapper">
  <div #gantt>
    <ng-gantt-toolbar
      [selectedView]="view"
      (onViewChanged)="changeView($event)"
    ></ng-gantt-toolbar>

    <div class="gantt-content">
      <div #tasksTable>
        <ng-gantt-tasks-table
          [tasks]="tasks"
          [contentScroll]="contentScroll"
          (onScroll)="onContentScroll($event)"
        ></ng-gantt-tasks-table>
      </div>

      <div #timeline>
        <ng-gantt-timeline
          [tasks]="tasks"
          [view]="view"
          [contentScroll]="contentScroll"
          [contentWidth]="timelineWidth"
          (onScroll)="onContentScroll($event)"
        ></ng-gantt-timeline>
      </div>
    </div>
  </div>
</div>
