<div *ngIf="timelineDates" class="timeline-container" [style.min-width]="contentWidth + 'px'">
  <div class="timeline-header-wrapper">
    <div #header class="timeline-header">
      <table>
        <thead [ngSwitch]="view">
          <ng-container *ngSwitchCase="'Day'">
            <tr>
              <th
                nowrap
                colspan="24"
                *ngFor="let headerDate of timelineDates.headerDates"
              >
                {{ headerDate | date:'dd MMM, EEEE, YYYY' }}
              </th>
            </tr>
            <tr>
              <th
                nowrap
                *ngFor="let detailDate of timelineDates.detailDates"
              >
                {{ detailDate | date:'HH:mm' }}
              </th>
            </tr>
          </ng-container>
          <ng-container *ngSwitchCase="'Week'">
            <tr>
              <th
                nowrap
                colspan="7"
                *ngFor="let headerDate of timelineDates.headerDates">
                {{ headerDate | date:'MMM, dd' }} – {{ getWeekEnd(headerDate) | date:'MMM, dd' }}
              </th>
            </tr>
            <tr>
              <th
                nowrap
                *ngFor="let detailDate of timelineDates.detailDates"
              >
                {{ detailDate | date:'EEE, dd' }}
              </th>
            </tr>
          </ng-container>
        </thead>
      </table>
    </div>
  </div>

  <div
    #content
    class="timeline-content"
    [style.height]="getContentHeight()"
  >
    <table>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td *ngFor="let date of timelineDates.detailDates">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
